<!DOCTYPE html>
<html>
<head>

  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script>

    var catData = [ { name : 'kalymba'
                    , url  : 'img/kalymba.jpg'
                    }

                  , { name : 'jitsu'
                    , url  : 'img/jitsu.jpg'
                  } ]

    var app


    var Router = Backbone.Router.extend({
      routes: {
        '': 'home'
      , 'cats/:catName': 'showCat'
      }
    , initialize: function() {
        var cats = new Cats()
        cats.reset(catData)
        this.homeView = new HomeView({ collection: cats })
        this.catView = new CatView({ collection: cats })
      }
    , home: function() {
        this.homeView.render()
      }
    , showCat: function(catName) {
        this.catView.loadCat(catName)
      }
    })

    var CatItemView = Backbone.View.extend({
      tagName: 'li'
    , template: _.template(
          '<a href="#cats/<%= name %>" target="_blank">'
           + '<%= name %>'
           + '</a>&nbsp;<a class="add-to-cart" href="#">buy</a>'
      )
    , events: {
        'click .add-to-cart': 'addToCart'
      }
    , render: function() {
        this.$el.html(this.template(this.model.attributes))
      }
    , addToCart: function() {
        this.model.collection.trigger('addToCart', this.model)
      }
    })


    var HomeView = Backbone.View.extend({
      el: 'body'
    , listEl: '.cats-list'
    , cartEl: '.cart-box'

    , template: _.template(
          'Cat data: '
          + '<ul class="cats-list"></ul>'
          + '<h2>Shopping Cart</h2>'
          + '<div class="cart-box"></div>'
      )
    , initialize: function() {
        this.$el.html(this.template)
        this.collection.on('addToCart', this.showCart, this)
      }
    , showCart: function(catModel) {
        $(this.cartEl).append(catModel.attributes.name + '<br>')
      }
    , render: function() {
        var self = this

        this.collection.each(function(cat) {
          var catSubView = new CatItemView({ model: cat })
          catSubView.render()
          $(self.listEl).append(catSubView.$el)
        })
        return this
      }
    })

    var Cats = Backbone.Collection.extend({})

    var CatView = Backbone.View.extend({
      initialize: function() {
        this.model = new (Backbone.Model.extend({}))
        this.model.on('change', this.render, this)
        this.on('spinner', this.showSpinner, this)
      }
    , template: _.template(
        '<figure>' +
          '<img src="<%= attributes.url %>" width="600">' +
          '<figcaption><%= attributes.name %></figcaption>' +
        '</figure>'
      )
    , templateSpinner: '<img src="img/spinner.gif" width="60"> '

    , loadCat: function(catName) {
        this.trigger('spinner')
        var self = this
        setTimeout(function() {
          self.model.set(self.collection.where({
            name: catName
          })[0].attributes)
        }, 1000)
      }
    , render: function(catName) {
        var catHtml = this.template(this.model)
        $('body').html(catHtml)

        return this
      }
    , showSpinner: function() {
        console.log(this.templateSpinner)
        $('body').html(this.templateSpinner)
      }
    })

    $(document).ready(function() {
      app = new Router
      Backbone.history.start()
    })

  </script>
</head>
<body>
  <div></div>
</body>
</html>